<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>824907552825-7st4hlncjkrl2oj4b4sg6g1fq0vi3bt7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.824907552825-7st4hlncjkrl2oj4b4sg6g1fq0vi3bt7</string>
	<key>API_KEY</key>
	<string>AIzaSyB-699C1v4hpGX-UkgGXrlh8_QQDaVN57Q</string>
	<key>GCM_SENDER_ID</key>
	<string>824907552825</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>mehmettfaik.BitirmeProjesi</string>
	<key>PROJECT_ID</key>
	<string>bitirmeprojesi-af591</string>
	<key>STORAGE_BUCKET</key>
	<string>bitirmeprojesi-af591.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:824907552825:ios:06971c0c77be3ff25bd5e8</string>
</dict>
</plist>